body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.main {
    width: 80%;
    padding: 8%;
    /* position: fixed; */
}

.container {
    display: flex;
    flex-direction: row;
}

.container2 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: auto !important;
}

.topquestion {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.topquestion>h2,
p {
    flex: 1;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul li {
    list-style: none !important;
    display: inline-block;
    padding-left: 10px !important;
}

nav ul li a {
    text-decoration: none;
    color: darkslategrey;
}

nav ul li a:hover {
    color: rgb(207, 30, 30);
}

.desktopimage {
    width: 700px;
    height: 200px;
}

button {
    background-color: rgb(207, 30, 30);
    color: white;
    margin: 10px 0px;
    width: fit-content;
    border: none;
}

.section1 {
    padding: 20px;
}

.section2 {
    background-color: black;
    padding: 20px;
    font-size: 12px;
}

.section3 {
    display: flex;
    flex-direction: row;
    align-content: center;
    padding: 40px 40px;
}

.blog {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.blogsection {
    font-size: 12px;
}

.blog img {
    width: 100px;
    height: 100px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.attribution {
    font-size: 12px;
    text-align: center;
    margin: 50px 0px;
}

@media only screen and (max-width: 768px) {
    /* Adjustments for smaller screens */
    .main {
        width: 100%;
        padding: 5%;
    }
    .desktopimage {
        width: 100%;
        height: auto;
    }
    .section2 {
        font-size: 8px;
    }
    .blog img {
        width: 80px;
        height: 80px;
    }
    .container {
        display: flex;
        flex-direction: column;
    }
    .container>.sectio1,
    .section2 {
        flex: 1;
    }
    .section3 {
        display: flex;
        flex-direction: column;
        align-content: center;
        padding: 40px 40px;
    }
    .topquestion {
        display: flex;
        flex-direction: column;
        /* gap: 16px; */
        /* justify-content: center; */
    }
    .topquestion>h2,
    p {
        flex: 1;
    }
}

@media only screen and (max-width: 480px) {
    /* Adjustments for smaller screens */
    .main {
        width: 100%;
        padding: 5%;
    }
    .desktopimage {
        width: 100%;
        height: auto;
    }
    .section2 {
        font-size: 8px;
    }
    .blog img {
        width: 80px;
        height: 80px;
    }
    .container {
        display: flex;
        flex-direction: column;
    }
    .container>.sectio1,
    .section2 {
        flex: 1;
    }
    .section3 {
        display: flex;
        flex-direction: column;
        align-content: center;
        padding: 40px 40px;
    }
    .topquestion {
        display: flex;
        flex-direction: column;
        /* gap: 12px; */
        justify-content: center;
    }
    .topquestion>h2,
    p {
        flex: 1;
    }
}


/* @media only screen and (max-width: 1024px) { */


/* Adjustments for smaller screens 
    .main {
        width: 100%;
        padding: 5%;
    }
    .desktopimage {
        width: 100%;
        height: auto;
    }
    .section2 {
        font-size: 8px;
    }
    .blog img {
        width: 80px;
        height: 80px;
    }
    .container {
        display: flex;
        flex-direction: column;
    }
    .container>.sectio1,
    .section2 {
        flex: 1;
    }
    .container2 {
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: auto !important;
    }
    .topquestion {
        display: flex;
        flex-direction: column;
    }
    .topquestion>h2,
    p {
        flex: 1;
    }
}